.card {
  margin-top: 100px;
  min-height: 30rem;
  display: flex;
}

form {
  max-width: 350px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  color: #f3f17d;
  margin-right: 50px;
  margin-left: 30%;
  background-color: #74b9ff;
}

.name-field {
  margin-bottom: 40px;
}

button {
  margin-top: 30px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid rgb(34, 123, 182);
  font-weight: bold;
  color: rgb(12, 124, 199);
  background-color: #fff;
}

.render-chat {
  width: 350px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  color: #f3f17d;
  background-color: #74b9ff;
}

h3 {
  color: rgb(12, 124, 199);
}

span {
  color: #fff;
}